#carouselExampleCaptions, #carouselExampleFade, #carouselExampleControls {
margin-top: 10px;
.carousel-item {
    img {
    object-fit: cover;
    }
    }
}
.carousel-item img {
    height: 750px;
}

